@using ProjectLibrary.Database
@using TeamplateHotel.Handler
@using PagedList.Mvc
@model  PagedList.IPagedList<Article>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
}


<div class="banner-page">
    <div class="banner__item">
        <div class="banner__img">
            <img src="@menu.Image" alt="">
        </div>
        <div class="banner__caption">
            <h1 class="animate__animated">@menu.Title</h1>
        </div>
    </div>
</div>
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">@menu.Title</li>
</ul>
<div class="blog-wp box">
    <div class="container">
        <div class="blog-box d-block d-lg-none">
            <form action="" method="method" id="blog_search">
                <div class="input-group">
                    <input class="form-control" type="text" name="b_search" id="b_search" placeholder="Tìm kiếm...">
                    <div class="input-group-append">
                        <span class="fas fa-search input-group-text"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model)
                {
                    <div class="post__item">
                        <div class="row no-gutters">
                            <div class="col-md-5 d-flex">
                                <div class="post__thumb">
                                    <a href="/@item.MenuAlias/@item.ID/@item.Alias"><img src="@item.Image" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-7 d-flex">
                                <div class="post__content">


                                    <div class="post__meta">
                                        @if (item.DateUpdate != null)
                                        {
                                            <span class="post__date">@item.DateUpdate</span>
                                        }
                                        else
                                        {
                                            @item.DateCreate
                                        }

                                        <a class="post__catagory" href=""> @item.Type</a>
                                    </div>
                                    <h3 class="post__title">
                                        <a href="blog_detail.html">@item.Title</a>
                                    </h3>
                                    <div class="post__desc">
                                        @Html.Raw(item.Description)
                                    </div>
                                    <div class="post__more">
                                        <a class="btn view-more" href="/@item.MenuAlias/@item.ID/@item.Alias">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4">
                <div class="blog-sidebar">
                    <div class="blog-box d-none d-lg-block">
                        <form action="" method="method" id="blog_search">
                            <div class="input-group">
                                <input class="form-control" type="text" name="b_search" id="b_search" placeholder="Tìm kiếm...">
                                <div class="input-group-append">
                                    <span class="fas fa-search input-group-text"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="blog-box">
                        <h3>Tin gần đây</h3>
                        <ul class="Recent-News">
                            <li>
                                <div class="post-thumb">
                                    <img src="./images/about2.jpg" alt="">
                                </div>
                                <div class="post-content">
                                    <div class="post__meta">
                                        <span class="post__date"> 26 / 8 /2021</span>
                                        <a class="post__catagory" href=""> Sự Kiện</a>
                                    </div>
                                    <a href="blog_detail.html">Khám phá địa điểm nối tiếng Hải Dương</a>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <img src="./images/about2.jpg" alt="">
                                </div>
                                <div class="post-content">
                                    <div class="post__meta">
                                        <span class="post__date"> 26 / 8 /2021</span>
                                        <a class="post__catagory" href="">Sự Kiện</a>
                                    </div>
                                    <a href="blog_detail.html">Khám phá địa điểm nối tiếng Hải Dương</a>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <img src="./images/about2.jpg" alt="">
                                </div>
                                <div class="post-content">
                                    <div class="post__meta">
                                        <span class="post__date"> 26 / 8 /2021</span>
                                        <a class="post__catagory" href="">Sự Kiện</a>
                                    </div>
                                    <a href="blog_detail.html">Khám phá địa điểm nối tiếng Hải Dương</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-box">
                        <h3>Tags</h3>
                        <ul class="blog-tag">
                            <li>
                                <a href="#">Hotel</a>
                            </li>
                            <li>
                                <a href="#">room</a>
                            </li>
                            <li>
                                <a href="#">service</a>
                            </li>
                            <li>
                                <a href="#">event</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
