@using ProjectLibrary.Database
@using TeamplateHotel.Controllers
@using TeamplateHotel.Handler
@using ProjectLibrary.Config
@using TeamplateHotel.Models
@{
    var lang = Request.Cookies["LanguageID"].Value;
    Hotel detailHotel = CommentController.DetailHotel(Request.Cookies["LanguageID"].Value);
    List<ShowObject> articleShowHots = CommentController.HotArticles(Request.Cookies["LanguageID"].Value);
    List<Language> languages = CommentController.GetLanguages();
    Plugin plugin = CommentController.GetPluigPlugin();
    List<Menu> menus = CommentController.GetMainMenus(Request.Cookies["LanguageID"].Value);
    List<Menu> menufooter = CommentController.GetSecondMenus(Request.Cookies["LanguageID"].Value);
    List<Service> getServices = CommentController.GetService();
    List<Room> getRoom = CommentController.GetRoom(lang);
    var language = languages.FirstOrDefault(a => a.ID == Request.Cookies["LanguageID"].Value) ?? new Language();
    string alias = "";

    string homepage = "";
    if (ViewBag.HomePage == true)
    {
        homepage = "home";
    }
}

<!DOCTYPE html>
<html lang="en">
</html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here">
    <meta content="" name="keywords">
    <title>Nam Cường Hotel</title>
    <!-- Favicons-->
    <link href="" rel="icon">
    <link href="" rel="apple-touch-icon">
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&amp;display=swap" rel="stylesheet">
    <!-- Vendor CSS Files cdn-->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap-4.5.2/css/bootstrap.min.css">
    <!-- fontawesome 5 Pro-->
    <link rel="stylesheet" href="~/Content/css/fontawesome-pro-5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <!-- Plugin css local-->
    <link rel="stylesheet" href="~/Content/plugins/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/plugins/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
    <!-- Template Main CSS File-->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="header__phone mr-3">
                                <a class="header__info" href="tel:@detailHotel.Tel"><i class="fas fa-phone-alt mr-2"></i><span>@detailHotel.Tel</span></a>
                                <a class="header__info" href="mailto:@detailHotel.Email"><i class="fas fa-envelope mr-2"></i><span>@detailHotel.Email</span></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="header__right ml-auto">
                                <span class="header__social"><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-instagram"></i></a></span>
                                <span class="header__language"><a href="#">VI</a><a class="mr-0" href="#">EN</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__main">
                <div class="container">
                    <div class="header__box">
                        <div class="header__logo">
                            <a href="/"><img src="@detailHotel.Logo" alt=""></a>
                        </div>
                        <div class="header__menu">
                            <nav class="nav-menu">
                                <ul class="nav__list">
                                    @foreach (var item in menus.Where(a => a.ParentID == 0).OrderBy(a => a.Index).ToList())
                                    {
                                        var menuChilds = menus.Where(a => a.ParentID == item.ID).OrderBy(a => a.Index).ToList();
                                        if (item.Type == SystemMenuType.Service)
                                        {
                                            alias = "javascript:void(0)";
                                            <li class="nav__item">
                                                <a class="nav__link" href="/@item.Alias">@item.Title</a>
                                                <ul class="nav__child">
                                                    @foreach (var itemService in getServices.Take(4))
                                                    {
                                                        <li>
                                                            <a href="/@item.Alias/@itemService.ID/@itemService.Alias">@itemService.Title</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else if (item.Type == SystemMenuType.RoomRate)
                                        {
                                            alias = "javascript:void(0)";
                                            <li class="nav__item">
                                                <a class="nav__link" href="/@item.Alias">@item.Title</a>
                                                <ul class="nav__child">
                                                    @foreach (var itemRoom in getRoom.Take(4))
                                                    {
                                                        <li>
                                                            <a href="/@item.Alias/@itemRoom.ID/@itemRoom.Alias">@itemRoom.Title</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            if (item.Type == SystemMenuType.OutSite)
                                            {
                                                <li class="nav__item">
                                                    <a class="nav__link" href="@item.Link" target="_blank">@item.Title</a>
                                                </li>
                                            }
                                            else if (item.Type == SystemMenuType.Contact || item.Type == SystemMenuType.Recruitment)
                                            {

                                            }
                                            else
                                            {
                                                <li class="nav__item">
                                                    <a class="nav__link" href="/@item.Alias">@item.Title</a>
                                                </li>
                                            }
                                        }
                                    }
                                    <div class="dropdown menu-more">
                                        <span class="drop-toggle" data-toggle="dropdown"><i class="far fa-bars"></i></span>
                                        <div class="dropdown-menu drop-more">
                                            @foreach (var item1 in menus.Where(a => a.ParentID == 0 && (a.Type == SystemMenuType.Contact || a.Type == SystemMenuType.Recruitment)).OrderBy(a => a.Index).ToList())
                                            {
                                        <li>
                                            <a class="dropdown-item" href="/@item1.Alias">@item1.Title</a>
                                        </li>
                                    }

                                </div>
                            </div>
                            </ul>
                            </nav>
                            <div class="search-btn">
                                <span class="fas fa-search search-icon"></span>
                                <form action="/Search/SearchLayout" method="get" id="quick-search">
                                    <input id="key-search" class="form-control" type="text" name="keySearch" placeholder="Tìm kiếm...">
                                    <button id="submitSearch" type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                            <div class="menu-bar d-block d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="book-btn">
                                <a class="nav__link book-menu" href="/Booking"><span class="mr-2"> BOOK NOW</span><i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                            <nav class="menu-mobile d-block d-lg-none">
                                <div class="icon-mobile">
                                    <div class="menu-bar">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <ul class="menu__list">
                                    @foreach (var item in menus.Where(a => a.ParentID == 0).OrderBy(a => a.Index).ToList())
                                    {
                                        var menuChilds = menus.Where(a => a.ParentID == item.ID).OrderBy(a => a.Index).ToList();
                                        if (item.Type == SystemMenuType.Service)
                                        {
                                            alias = "javascript:void(0)";
                                            <li class="menu__item">
                                                <a class="menu__link" href="@alias">@item.Title</a>
                                                <span class="fal fa-angle-down drop-icon"></span>
                                                <ul class="menu__child">
                                                    @foreach (var itemService in getServices.Take(4))
                                                    {
                                                        <li>
                                                            <a href="/@item.Alias/@itemService.ID/@itemService.Alias">@itemService.Title</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else if (item.Type == SystemMenuType.RoomRate)
                                        {
                                            alias = "javascript:void(0)";
                                            <li class="menu__item">
                                                <a class="menu__link" href="@alias">@item.Title</a>
                                                <span class="fal fa-angle-down drop-icon"></span>
                                                <ul class="menu__child">
                                                    @foreach (var itemRoom in getRoom.Take(4))
                                                    {
                                                        <li>
                                                            <a href="/@item.Alias/@itemRoom.ID/@itemRoom.Alias">@itemRoom.Title</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            if (item.Type == SystemMenuType.OutSite)
                                            {
                                                <li class="nav__item">
                                                    <a class="nav__link" href="@item.Link" target="_blank">@item.Title</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="menu__item">
                                                    <a class="menu__link" href="/@item.Alias">@item.Title</a>
                                                </li>
                                            }
                                        }
                                    }

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                </div>
                </div>



            </header>
            @RenderBody()

            <div class="footer">
                <div class="footer__detail">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="footer__col">
                                    <ul class="footer__list">
                                        <li>
                                            <h3 class="footer__head">NAM CUONG HOTELS & RESORTS</h3>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="fas fa-map-marker-alt"></i> 47 Lạch Tray, Ngô Quyền, Hải Phòng</a>
                                        </li>
                                        <li>
                                            <a href="tel:012345678"><i class="fas fa-phone-alt"></i> 012345678</a>
                                        </li>
                                        <li>
                                            <a href="mailto:info@namcuonghotels.com"><i class="fas fa-envelope"></i> info@namcuonghotels.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="footer__col">
                                    <h3 class="footer__head">  DỊCH VỤ</h3>
                                    <ul class="footer__list">
                                        <li>
                                            <a class="footer__link" href="/">Phòng Nghỉ</a>
                                        </li>
                                        <li>
                                            <a class="footer__link" href="/">Tiệc & Sự Kiện</a>
                                        </li>
                                        <li>
                                            <a class="footer__link" href="/">Nhà hàng</a>
                                        </li>
                                        <li>
                                            <a class="footer__link" href="/">Chăm Sóc Sức khỏe</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="footer__col">
                                    <h3 class="footer__head">Về chúng tôi</h3>
                                    <ul class="footer__list">
                                        <li>
                                            <a class="footer__link" href="/">Giới thiệu</a>
                                        </li>
                                        <li>
                                            <a class="footer__link" href="/">điều kiện & điều khoản</a>
                                        </li>
                                        <li>
                                            <a class="footer__link" href="/">Chính sách bảo mật</a>
                                        </li>
                                        <li>
                                            <a class="footer__link" href="/">Câu hỏi thưởng gặp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="footer__col">
                                    <h3 class="footer__head">Subscribe Newsletter</h3>
                                    <div class="footer__text">
                                        <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                    <form class="footer__form" action="/">
                                        <div class="form-group">
                                            <input class="form-control" id="email" type="email" name="email" autocomplete="off" placeholder="Your email address">
                                            <button class="sub-btn" type="submit"><i class="fas fa-paper-plane"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copy-right">
                    <div class="container">
                        <div class="cr-detail">
                            <div class="cr-text">©2021 Copyright by Nam Cuong Hotels & Resorts | All Rights Reserved.</div>
                            <div class="social">
                                <a href="/"><i class="fab fa-facebook-f"></i></a>
                                <a href="/"><i class="fab fa-twitter"></i></a>
                                <a href="/"><i class="fab fa-instagram"></i></a>
                                <a href="/"><i class="fab fa-google-plus-g"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vendor JS Files-->
            <script src="~/Content/js/jquery-3.5.1.min.js"></script>
            <script type="text/javascript " src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin=" anonymous "></script>
            <!-- js local-->
            <script src="~/Content/plugins/owlcarousel/owl.carousel.min.js"></script>
            <script src="~/Content/plugins/fancybox/jquery.fancybox.min.js"></script>
            <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
            <!-- Template Main JS File-->
            <script src="~/Content/js/main.js"></script>
            <script src="~/Content/js/slider.js"></script>
            <script src="~/Content/js/jquery.validate.min.js.js"></script>

            <script>
                //jQuery.validator.setDefaults({
                //    debug: true,
                //    success: "valid"
                //});
                $(document).ready(function () {
                    //$("#quick-search").validate({
                    //    rules: {
                    //        'keySearch': {
                    //            required: true,
                    //        },
                    //    },
                    //    messages: {
                    //        'keySearch': "This field is required",

                    //    },
                    //    submitHandler: function (form) {
                    //        form.submit();
                    //    },

                    //});
                    $("#submitSearch").click(function () {
                        var key = $("#key-search").val();
                        if (key == "") {
                            alert("Xin vui lòng nhập từ khóa tìm kiếm");
                            return false;
                        }
                    });

                });
               
            </script>
            @RenderSection("script", false)
        </body>

