@using ProjectLibrary.Database
@using TeamplateHotel.Handler
@model TeamplateHotel.Models.DetailService
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
}

    <div class="banner-page">
        <div class="banner__item">
            <div class="banner__img"><img src="@menu.Image" alt=""></div>
            <div class="banner__caption">
                <h1 class="animate__animated">@menu.Title</h1>
            </div>
        </div>
    </div>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/">@menu.Title</a></li>
        <li class="breadcrumb-item active">@Model.Service.Title</li>
    </ul>
    <section class="box">
        <div class="container mb-5">
            <div class="box__title">
                <h3>@Model.Service.Title</h3>
            </div>
            <div class="box__desc">
                <p>Được đầu tư đồng bộ với các trang thiết bị hiện đại, tiên tiến, phòng tiệc hội nghị, hội thảo Thiên Trường sức chứa 600 khách là địa điểm hoàn hảo cho tất cả các sự kiện, quy mô dù lớn hay nhỏ luôn sẵn sàng đáp ứng đội ngũ chuyên gia cao cấp, chuyên viên lành nghề tổ chức sự kiện, cẩn thận từ cái bắt tay đầu tiên đến bước chân của vị khách cuối cùng.</p>
            </div>
        </div>
        <article class="ser_detail-main">
            <div class="container">
                @Html.Raw(Model.Service.Content)
            </div>
        </article>
    </section>
