@using TeamplateHotel.Handler
@model TeamplateHotel.Models.DetailRoom
@using ProjectLibrary.Database
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    var lang = Request.Cookies["LanguageID"].Value;
}

<div class="banner-page">
    <div class="banner__item">
        <div class="banner__img">
            <img src="@menu.Image" alt="">
        </div>
        <div class="banner__caption">
            <h1 class="animate__animated">@menu.Title</h1>
        </div>
    </div>
</div>
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/">@menu.Title</a>
    </li>
    <li class="breadcrumb-item active">@Model.Room.Title</li>
</ul>
<section class="rooms-wp box">
    <div class="container mb-5">
        <div class="room-main">
            <div class="room-img__slide owl-carousel owl-theme">
                @foreach (var itemGallery in Model.RoomGalleries)
                {
                    <div class="item">
                        <img src="@itemGallery.ImageLarge" alt="">
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-left">
                        <h3 class="room-dt__title">@Model.Room.Title</h3>
                        <div class="room-dt__des mb-4">
                            @Html.Raw(Model.Room.Content)
                        </div>
                        <div class="room-dt__serv">
                            <h3 class="room-dt__title">Tiện nghi</h3>
                            <ul>
                                @foreach (var item1 in Model.RoomFunctions)
                                {
                                    <li>
                                        <i class="@item1.Image"></i>
                                        <span>@item1.Title</span>
                                    </li>
                                }
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="room-sidebar sticky-top">
                        <h3>Đặt Phòng</h3>
                        <form action="book-room.html" method="method" id="book-room">
                            <div class="form-group">
                                <label for="checkIn">Ngày Đến</label>
                                <input class="form-control" type="text" name="checkIn" id="checkIn">
                            </div>
                            <div class="form-group">
                                <label for="checkIn">Ngày Đi</label>
                                <input class="form-control" type="text" name="checkOut" id="checkOut">
                            </div>
                            <div class="form-group">
                                <label for="Adult">Người Lớn</label>
                                <select class="custom-select" name="Adult" id="Adult">
                                    <option value="0">Adults</option>
                                    <option value="0">1</option>
                                    <option value="0">2</option>
                                    <option value="0">3</option>
                                    <option value="0">4</option>
                                    <option value="0">5</option>
                                    <option value="0">6</option>
                                    <option value="0">7</option>
                                    <option value="0">8</option>
                                    <option value="0">9</option>
                                    <option value="0">10</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Child">Trẻ em</label>
                                <select class="custom-select" name="Child" id="Child">
                                    <option value="0">Child</option>
                                    <option value="0">1</option>
                                    <option value="0">2</option>
                                    <option value="0">3</option>
                                    <option value="0">4</option>
                                    <option value="0">5</option>
                                    <option value="0">6</option>
                                    <option value="0">7</option>
                                    <option value="0">8</option>
                                    <option value="0">9</option>
                                    <option value="0">10</option>
                                </select>
                            </div>
                            <div class="from-group pt-2">
                                <button class="check-avai">ĐẶT NGAY</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="room-dt__title">Phòng liên quan</h3>
        <div class="room-related owl-carousel owl-theme">
            @foreach (var item in Model.Rooms)
            {
                <div class="item">
                    <div class="room-img">
                        <img src="@item.Image" alt="">
                        <div class="room-price">
                            <span>@item.Price VND/ĐÊM</span>
                        </div>
                    </div>
                    <div class="room-detail">
                        <div class="room-desc">
                            <h4 class="room-name">
                                <a href="/@item.MenuAlias/@item.Alias">@item.Title</a>
                            </h4>
                            <ul class="room__info">
                                <li class="ml-0">
                                    @item.Size m
                                    <sup>2</sup>
                                </li>
                                <li>King bed</li>
                                <li class="mr-0">@item.MaxPeople persons</li>
                            </ul>
                            <div class="room-text">
                                @Html.Raw(item.Content)
                            </div>
                            <div class="room_btn">
                                <a class="detail-btn" href="/@item.MenuAlias/@item.Alias">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
</section>
