@using ProjectLibrary.Database
@using TeamplateHotel.Handler
@model IEnumerable<Room>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    Article article = ViewBag.ArticleByRoomRate;
    var lang = Request.Cookies["LanguageID"].Value;
}


    <div class="banner-page">
        <div class="banner__item">
            <div class="banner__img"><img src="@menu.Image" alt=""></div>
            <div class="banner__caption">
                <h1 class="animate__animated">@menu.Title</h1>
            </div>
        </div>
    </div>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">@menu.Title</li>
    </ul>
    <section class="rooms-wp box">
        <div class="container">
            <div class="room-head">
                <div class="box__title room-title">
                    <h3>Phòng nghỉ</h3>
                </div>
                <div class="room-line"><span></span></div>
                <div class="room-review">
                    <p>Khách sạn Nam Cường Hải Phòng giúp du khách có thể chiêm ngưỡng những nét đẹp nổi bật của Hải Phòng. Không gian phòng đảm bảo mang đến cho quý khách sự ấm cúng, tiện nghi và yên tĩnh. Nội thất được bài trí chi tiết mang đến cho quý khách những cảm xúc đặc biệt, được hòa mình vào bầu không khí trong lành, gần gũi với văn hóa bản địa.</p>
                </div>
                <div class="room-note">
                    <p>Để đặt chỗ và giải đáp thắc mắc, vui lòng gọi <a href="tel:012345678">012345678</a> hoặc gửi mail đến : <a href="mailto: info@namcuonghotels.com"> info@namcuonghotels.com</a>. Hoặc  <a href="">đặt phòng trực tuyến tại đây</a> .</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @foreach (var itemRoom in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="room-item">
                            <div class="room-img">
                                <img src="@itemRoom.Image" alt="">
                                <div class="room-price"><span>@itemRoom.Price VND/ĐÊM</span></div>
                            </div>
                            <div class="room-detail">
                                <div class="room-desc">
                                    <h4 class="room-name"><a href="/@itemRoom.MenuAlias/@itemRoom.ID/@itemRoom.Alias">@itemRoom.Title</a></h4>
                                    <ul class="room__info">
                                        <li class="ml-0">@itemRoom.Size m<sup>2</sup></li>
                                        <li>King bed</li>
                                        <li class="mr-0">@itemRoom.MaxPeople persons</li>
                                    </ul>
                                    <div class="room-text">@Html.Raw(itemRoom.Description)</div>
                                </div>
                                <div class="room_btn"><a class="detail-btn" href="/@itemRoom.MenuAlias/@itemRoom.ID/@itemRoom.Alias"> @GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Detail")</a></div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
